<div>
{{ range where .Site.Data.authors "hidden" "ne" "true" }}
    {{ $author := .name }}
    {{ $author_id := replaceRE "(\\s)" "" .name }}
    <h2 id="{{ $author_id }}" style="scroll-margin-top: 5rem">{{ $author }} </h2>
    <a href="{{ .affiliation.url }}" style="color: inherit; text-decoration: none"><small>{{ .affiliation.name }}</small></a>
    <p>{{ .bio }}</p>
    <p>
    {{ $scale := "height=1.5em" }}
    {{ if .social.homepage }}
        <a href="{{ .social.homepage }}" style="color: inherit; text-decoration: none">
            <span class="inline-block align-text-bottom icon">
                {{ $icon := index site.Data.icons "home" }}
                {{ $icon = replaceRE "<svg" (printf "<svg %s" $scale) $icon }}
                {{ $icon | safeHTML }}
            </span>
        </a>
    {{ end }}
    {{ if .social.email }}
        <a href="mailto:{{ .social.email }}" style="color: inherit; text-decoration: none">
            <span class="inline-block align-text-bottom icon">
                {{ $icon := index site.Data.icons "mail" }}
                {{ $icon = replaceRE "<svg" (printf "<svg %s" $scale) $icon }}
                {{ $icon | safeHTML }}
            </span>
        </a>
    {{ end }}
    {{ if .social.orcid }}
        <a href="{{ .social.orcid }}" style="color: inherit; text-decoration: none">
            <span class="inline-block align-text-bottom icon">
                {{ $icon := index site.Data.icons "orcid" }}
                {{ $icon = replaceRE "<svg" (printf "<svg %s" $scale) $icon }}
                {{ $icon | safeHTML }}
            </span>
        </a>
    {{ end }}
    {{ if .social.github }}
        <a href="{{ .social.github }}" style="color: inherit; text-decoration: none">
            <span class="inline-block align-text-bottom icon">
                {{ $icon := index site.Data.icons "github" }}
                {{ $icon = replaceRE "<svg" (printf "<svg %s" $scale) $icon }}
                {{ $icon | safeHTML }}
            </span>
        </a>
    {{ end }}
    {{ if .social.linkedin }}
        <a href="{{ .social.linkedin }}" style="color: inherit; text-decoration: none">
            <span class="inline-block align-text-bottom icon">
                {{ $icon := index site.Data.icons "linkedin" }}
                {{ $icon = replaceRE "<svg" (printf "<svg %s" $scale) $icon }}
                {{ $icon | safeHTML }}
            </span>
        </a>
    {{ end }}
    </p>
{{ end }}
</div>
